<div class="container">
    <h1>Star Wars Search Form</h1>
    <form #f='ngForm' (ngSubmit)='search(f)'>
    
        <label for='category'>Category: </label>
        <select [(ngModel)]='selectedCat' name="category">
            <option *ngFor="let key of catKeys(categories)">{{key}}</option>
        </select>

        <label for='num-objects'>Item ID: </label>
        <input type='number' id='num-objects' min='1' max='5' [(ngModel)]='id' required name='idSelect'>

        <button type='submit'>Search</button>
    </form>
</div>

<div class="display">
    <p>{{item.name}}</p>
    <p>{{item.title}}</p>
</div>
